{% extends 'post/form.html' %}
{% load static bootstrap4 post_tags core_tags %}

{% block javascript_body %}
    {{ block.super }}
    <script>
        /*
         6/6 = 640 = grid_six
         3/6 = 270 = grid_three
         2/6 = 180 = grid_two
         */
        resize_images = function() {
            var images = $("#GalleryPostWrap").find('.image');
            var grid_two = [], grid_three = [], grid_six = [];

            jQuery.each(images, function(i, img){
                var obj = $(img);
                var width = obj.attr('data-width') * 1;

                if (width >= 640 && grid_six.length === 0) {
                    grid_six.push(img);
                } else if (width >= 270) {
                    grid_three.push(img);
                } else {
                    grid_two.push(img);
                }
            });

            $("#GalleryPostWrap").html('');
            var row;
            var max = 99999999;

            if (grid_six.length > 0) {
                row = $("<div class='row'></div>");
                jQuery.each(grid_six, function(i, img){
                    row.append("<div class='col-md-12'>" + img.outerHTML + "</div>");
                });
                $("#GalleryPostWrap").append(row);
            }

            if (grid_three.length > 0) {
                var size = 2; var arrayOfArrays = [];

                grid_three.sort( function (img1, img2) { return $(img1).attr('data-height') * 1 - $(img2).attr('data-height') * 1 } );
                grid_three.reverse();

                for (var i=0; i<grid_three.length; i+=size) {
                     arrayOfArrays.push(grid_three.slice(i,i+size));
                }

                jQuery.each(arrayOfArrays, function(i, imgs){
                    max = 99999999;
                    row = $("<div class='row'></div>");
                    jQuery.each(imgs, function(i, img){
                        row.append("<div class='col-md-6'>" + img.outerHTML + "</div>");
                    });

                    $("#GalleryPostWrap").append(row);

                    jQuery.each(row.find('img'), function(i, img){
                        if ($(img).height() < max) {
                            max = $(img).height();
                        }
                    });

                    row.find('.image').attr('style', 'height: '+max+'px');
                });
            }

            if (grid_two.length > 0) {
                grid_two.sort( function (img1, img2) { return $(img1).attr('data-height') * 1 - $(img2).attr('data-height') * 1 } );
                grid_two.reverse();
                size = 3; arrayOfArrays = [];
                for (i=0; i<grid_two.length; i+=size) {
                     arrayOfArrays.push(grid_two.slice(i,i+size));
                }

                jQuery.each(arrayOfArrays, function(i, imgs){
                    max = 99999999;
                    row = $("<div class='row'></div>");
                    jQuery.each(imgs, function(i, img){
                        row.append("<div class='col-md-4'>" + img.outerHTML + "</div>");
                    });
                    $("#GalleryPostWrap").append(row);
                    jQuery.each(row.find('img'), function(i, img){
                        if ($(img).height() < max) {
                            max = $(img).height();
                        }
                    });

                    row.find('.image').attr('style', 'height: '+max+'px');
                });
            }



        };

        var _URL = window.URL || window.webkitURL;

        $(document).ready(function() {
            $("#GalleryPostWrap").on('dragenter', function(e) {
                e.preventDefault();
                $(this).css('border', '#39b311 2px dashed');
                $(this).css('background', '#f1ffef');
            });

            $("#GalleryPostWrap").on('dragover', function(e) {
                e.preventDefault();
            });

            $("#GalleryPostWrap").on('drop', function(e) {
                $("#GalleryPostWrap").removeClass('empty');
                $(this).css('border', '#07c6f1 2px dashed');
                $(this).css('background', '#FFF');
                e.preventDefault();

                var images = e.originalEvent.dataTransfer.files;
                jQuery.each(images, function(i, image){
                    if (image.type.match('image.*')) {
                        var reader = new FileReader();
                        reader.onload = (function(imgFile) {
                            return function(e) {
                                var img = new Image();
                                img.src = _URL.createObjectURL(imgFile);
                                img.onload = function() {
                                    $("#GalleryPostWrap").append("<div class='image' data-width='"+img.width+"' data-height='"+img.height+"'><img src='"+e.target.result+"' class='img-fluid'></div>");
                                }
                            };
                        })(image);

                        reader.readAsDataURL(image);
                    }
                });

                setTimeout(resize_images, 1000);
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        #GalleryPostWrap {width: 540px; min-height: 540px; background: #FFF; outline: 1px dotted #ccc; margin: 0 auto 20px auto; text-align: center}
        #GalleryPostWrap.empty:after {
            content: 'Drop images here';
            line-height: 540px;
            font-weight: 400;
            color: #fff;
            text-shadow: 1px 1px 1px #000
        }
        #GalleryPostWrap .image {
            overflow: hidden
        }
    </style>
{% endblock %}


{% block post_form_tag %}
    {% if gallery.id %}
        <form method="post" action="{% url 'idem:gallery:update' idem.slug gallery.publish.year gallery.publish.month gallery.publish.day gallery.slug %}" class="post-form" id="postForm">
    {% else %}
        <form method="post" action="{% url 'idem:gallery:create' idem.slug %}" class="post-form" id="postForm">
    {% endif %}
{% endblock %}

{% block post_form %}
    {% if gallery.id %}
        <h1>Editing {{ gallery.title }}</h1>
    {% else %}
        <h1>Posting to {{ idem }}</h1>
    {% endif %}
    {% bootstrap_field form.title layout="inline" %}
    <div id="GalleryPostWrap" class="empty">

    </div>
    {% bootstrap_field form.tags layout="inline" %}
    {% if gallery.id %}
        <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane"></i> Edit</button>
    {% else %}
        <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane"></i> Post</button>
    {% endif %}
{% endblock %}

{% block post_publish %}{{ gallery.publish|date:"d M Y H:i" }}{% endblock %}
{% block post_publish_value %}{{ gallery.publish|date:"m/d/Y H:i" }}{% endblock %}