{% load humanize %}

{% if not comment.is_deleted %}
    <h6 class="d-flex">
        <span class="w-100">
            {% if comment.idem.id %}
                <a href="{{ comment.idem.full_url }}">{{ comment.by }}</a>
            {% else %}
                {{ comment.by }}
            {% endif %}
            <span title="{{ comment.created }}">{{ comment.created|naturaltime }}</span>
            {% if comment.edited %}
                 (edited {{ comment.edited|naturaltime }})
            {% endif %}
        </span>
        <span class="flex-shrink-1 text-nowrap">
            {% if comment.parent and comment.count_children %}
                <a href="#" class="comment-expand" data-parent="{{ comment.id }}"><i class="fa fa-comments-o"></i> Thread</a>
            {% endif %}
            {% if allow_comments %}
                <a href="#" class="comment-reply" data-parent="{{ comment.id }}"><i class="fa fa-comment-o"></i> Reply</a>
            {% endif %}
            {% if comment.user.id == user.id %}
                <a href="{% url 'idem:comment:update' idem.slug comment.id %}"><i class="fa fa-pencil"></i> Edit</a>
            {% endif %}
            {% if comment.user.id == user.id or comment.post.idem.id == user.idem.id %}
                <a href="{% url 'idem:comment:delete' idem.slug comment.id %}"><i class="fa fa-trash"></i> Delete</a>
            {% endif %}
        </span>
    </h6>
    <p>{{ comment.text|linebreaksbr }}</p>
{% else %}
    <p>Deleted</p>
{% endif %}