{% load bootstrap4 comment_tags %}

<style>
    #commentForm textarea {height: 100px}
</style>

{% block javascript_body %}
    {{ super.block }}
    {% if allow_comments %}
    <script>
        $( document ).ready(function() {
            var commentParent = $('#id_parent');

            var commentForm = $('#commentForm');
                commentForm.detach();

            $('.comment-reply').click(function(e){
                e.preventDefault();

                $(this).parent().parent().parent().append(commentForm);

                if ($(this).attr('data-parent')) {
                    commentParent.val($(this).attr('data-parent'));
                } else {
                    commentParent.val();
                }
            });

            {% if open_parent %}
                $('a.comment-reply[data-parent="{{ open_parent }}"]').click();
            {% endif %}
        });
    </script>
    {% endif %}
{% endblock %}

{% if allow_comments %}
<div class="comment comment-parent">
    <div class="d-flex">
        <span class="w-100"></span>
        <span class="flex-shrink-1 text-nowrap">
            <a href="#" class="comment-reply" data-parent="0"><i class="fa fa-comments-o"></i> Reply</a>
        </span>
    </div>
    <form method="post" action="{{ request.path }}" id="commentForm">
        {% csrf_token %}
        {% bootstrap_form form layout="inline" %}
        <button type="submit" class="btn btn-primary"><i class="fa fa-comment"></i> Comment</button>
    </form>
</div>
{% endif %}

<p>{{ comment.text|linebreaksbr }}</p>

{% if comments %}
<div id="commentThreads">
    {% for comment in comments %}
        <div class="comment comment-parent">
            {% post_comment comment idem=idem allow_comments=allow_comments %}
        </div>
        <div class="comment-children pl-3">
        {% for thread in comment.threads %}
            <div class="comment comment-thread">{% post_comment thread idem=idem allow_comments=allow_comments %}</div>
        {% endfor %}
        </div>
    {% endfor %}
</div>
{% endif %}
