{% extends 'idem/idem.html' %}

{% block main %}
    <form method="post" action="{% url 'idem:comment:delete' idem.slug comment.id %}">
        {% csrf_token %}
        {{ form }}
        <p>Sure?</p>
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Sure!</button>
    </form>
{% endblock %}
