{% extends 'idem/idem.html' %}
{% load bootstrap4 %}
{% block main %}
    <form method="post" action="{% url 'idem:comment:update' idem.slug comment.id %}">
        {% csrf_token %}
        {% bootstrap_form form layout="inline" %}
        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Update</button>
    </form>
{% endblock %}