{% extends base_template %}
{% load bootstrap4 %}

{% block content %}
    <p class="alert alert-info">Sorry, the search is not yet a fully operational deathstar - check back soon.</p>
    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            <input class="form-control py-2" type="search" name="search" id="id_search">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    {% if results %}
        {% for result in results %}
            <h4><a href="{{ result.url }}">{{ result.title }}</a> by <a href="">{{ result.idem.title }}</a></h4>
        {% endfor %}
    {% endif %}
{% endblock %}