{% extends 'main/base.html' %}
{% block title %}About | {{ block.super }}{% endblock %}

{% block main %}
    <h1>About</h1>
    <p>There's a development team of one, working in the evenings when she has the time.</p>
{% endblock %}