{% extends 'main/base.html' %}
{% block content %}
    <h1>Hi!</h1>
    {% if not user.idem %}
        <p>
            If you want to post anything here, you're going to need at least one idem (pseud? identity? whatever floats your boat)
            and you can make one <a href="{% url 'idem:create' %}">here</a>{% if user.is_anonymous %}, but first you'll need to <a href="{% url 'account:register' %}">create a user account</a>{% endif %}.
        </p>
    {% endif %}
{% endblock %}