{% extends 'main/base.html' %}

{% block main %}
<h1>Privacy policy</h1>
<p>I cannot stress enough how much I do not want your personal details. If you decide to post them in your blog or
whatever, that's your shout, but the most I want off you is your e-mail so you can reset your password if you
forget it. Groovy?</p>

<p>You can delete your account here any time, which will wipe all the content you've posted, except for comments
and likes and whatnot, which will be anonymized.</p>
{% endblock %}