{% extends 'main/base.html' %}
{% block title %}Support | {{ block.super }}{% endblock %}

{% block main %}
    <h1>Support</h1>
    <p>Unfortunately, I don't have a lot of time to do one-to-one support, but I've answered some questions below and hopefully they're helpful!</p>
    <h2>General</h2>
    <ol class="list-unstyled">
        <li>
            <h4>Is there anywhere I can report bugs or make feature requests?</h4>
            <p>Kind of! For the moment, hit me up <a href="https://bitbucket.org/LithiumDoll/alteridem/issues" target="_blank">here</a> and I'll get back to you.</p>
        </li>
        <li>
            <h4>Is this open source?</h4>
            <p>For non-commercial use, but it's in early development - it's not even versioned, yet. Release candidates are a far-off dream. So. I mean.
                If you desperately want to fork it, sure? The repo's <a href="https://bitbucket.org/LithiumDoll/alteridem/" target="_blank">over here</a>, crack on.
                But you're probably better off waiting a while until there's actually something stable to run with.</p>
        </li>
        <li>
            <h4>Will X get me banned?</h4>
            <p>Will X get you arrested, or at the very least an indisputable Cease and Desist, in your country? Yes? X will get you banned.</p>
            <p>Otherwise, well. I don't have an app to get past Apple or advertisers to appease, so otherwise just keep to the <a href="{% url 'main:terms_of_use' %}">Terms of Use</a> and we're good.</p>
        </li>
        <li>
            <h4>Why aren't you asking for money?</h4>
            <p>I'm a web developer, so my expenses are minimal while this is in alpha testing, but if it ends up going anywhere, crowd funding will probably be a thing.</p>
        </li>
        <li>
            <h4>Inkstand? <a href="https://pillowfort.io" target="_blank">PillowFort</a>?</h4>
            <p>I am associated with neither of these things, the latter looks much more likely to go places than this is, though, so if you're interested in more than a toy, definitely check it out!</p>
        </li>
    </ol>
{% endblock %}