{% extends 'main/base.html' %}

{% block main %}
    <h1>Terms of use</h1>
    <p>Don't post illegal stuff, don't take credit for things you didn't make, don't troll: don't be a dick.</p>
    <p>This isn't a guaranteed safe space, as much as we'll try and avoid it, you may see triggering content here.</p>
    <p>Tag things you think people may find triggering.</p>
    <p>Be excellent to each other; be kind.</p>
{% endblock %}