<hr>
<h4><a href="{{ post.url }}"><i class="fa fa-video-camera fa-fw"></i> {{ post.title }}</a></h4>
{% if show_author %}
<h6><a href="{{ post.idem.full_url }}" rel="author">{{ post.idem }}</a></h6>
{% endif %}
<hr>
<div class="video">{{ post.text|safe }}</div>