{% extends 'post/form.html' %}
{% load static bootstrap4 post_tags core_tags %}

{% block post_form_tag %}
    {% if video.id %}
        <form method="post" action="{% url 'idem:video:update' idem.slug video.slug %}" class="post-form" id="postForm">
    {% else %}
        <form method="post" action="{% url 'idem:video:create' idem.slug %}" class="post-form" id="postForm">
    {% endif %}
{% endblock %}

{% block post_icon %}
    {% if video.icon %}
        <img src="{{ video.icon.image.url }}" id="icon-preview">
    {% else %}
        <img src="{{ idem.icon.image.url }}" id="icon-preview">
    {% endif %}
{% endblock %}

{% block post_form %}
    {% if video.id %}
        <h1>Editing {{ video.title }}</h1>
    {% else %}
        <h1>Posting to {{ idem }}</h1>
    {% endif %}
    {% bootstrap_field form.title layout="inline" %}

    <ul class="nav nav-tabs" id="contentTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="text-tab" data-toggle="tab" href="#text" role="tab" aria-controls="text" aria-selected="true">Embed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="link-tab" data-toggle="tab" href="#link" role="tab" aria-controls="link" aria-selected="false">Link</a>
        </li>
    </ul>
    <div class="tab-content" id="contentPanels">
        <div class="tab-pane fade pt-3 show active" id="text" role="tabpanel" aria-labelledby="text-tab">
            {% bootstrap_field form.text layout="inline" %}
        </div>
        <div class="tab-pane fade pt-3" id="link" role="tabpanel" aria-labelledby="link-tab">
            <p>You can link anywhere, but if it's at Youtube or Vimeo some of the details will be filled automagically.</p>
            {% bootstrap_field form.link layout="inline" %}
        </div>
    </div>

    {% bootstrap_field form.tags layout="inline" %}
    {% if video.id %}
        <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane"></i> Edit</button>
    {% else %}
        <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane"></i> Post</button>
    {% endif %}
{% endblock %}

{% block post_publish %}{{ video.publish|date:"d M Y H:i" }}{% endblock %}
{% block post_publish_value %}{{ video.publish|date:"m/d/Y H:i" }}{% endblock %}