{% extends 'idem/idem.html' %}
{% load post_tags comment_tags %}

{% block title %}{{ video.title }} | {{ idem }}{% endblock %}

{% block meta_robots %}
    {% robots video.access video.allow_search %}
{% endblock %}

{% block permalink %}
    <link rel="bookmark" href="{{ BASE_URL }}{{ video.permanent_url }}">
    <link rel="canonical" href="{{ video.full_url }}">
{% endblock %}

{% block main %}
    <h1>{{ video.title }}</h1>
    <hr>
    {% if idem.user_id == user.id %}
        <div class="btn-group float-right" role="group" aria-label="Post settings">
            <a class="btn btn-secondary" title="Click to edit" href="{% url 'idem:video:update' idem.slug video.slug %}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-warning" title="Click to confirm delete" href="{% url 'idem:video:delete' idem.slug video.slug %}"><i class="fa fa-trash"></i></a>
        </div>
    {% endif %}
    <p>
        {{ video.access_label }}
        <a href="{{ video.permanent_url }}">Permalink</a>
        {% post_tags video.tags.all idem=idem %}
    </p>
    {% if video.credit %}
        <p>This video is a response to <a href="{{ video.credit.specific.full_url }}">{{ video.credit.title }}</a> by <a href="{{ idem.full_url }}">{{ idem }}</a></p>
    {% endif %}
    <hr>
    <div class="video">{{ video.text|safe }}</div>
    <hr>
    {% if video.allow_comments %}
        {% post_comments form comments idem=idem count_comments=video.count_comments allow_comments=video.allow_comments %}
    {% endif %}
{% endblock %}
