<div id="editor_options">
    <div class="d-flex align-items-stretch btn-group">
        <button class="btn btn-sm btn-secondary" type="button" data-command="bold" data-type="format"><strong>B</strong></button>
        <button class="btn btn-sm btn-secondary" type="button" data-command="italic" data-type="format"><em>I</em></button>
        <button class="btn btn-sm btn-secondary" type="button" data-command="underline" data-type="format"><u>U</u></button>
        <button class="btn btn-sm btn-secondary" type="button" data-command="strikeThrough" data-type="format"><strike>S</strike></button>
        <button class="btn btn-sm btn-secondary" type="button" data-command="heading">H</button>
        <button class="btn btn-sm btn-secondary" type="button" data-command="createLink"><i class="fa fa-link"></i></button>
        <button class="btn btn-sm btn-secondary" type="button" data-command="unlink" data-type="format"><i class="fa fa-unlink"></i></button>
        <button class="btn btn-sm btn-secondary" type="button" data-command="insertOrderedList" data-type="format"><i class="fa fa-list-ol"></i></button>
        <button class="btn btn-sm btn-secondary" type="button" data-command="insertUnorderedList" data-type="format"><i class="fa fa-list-ul"></i></button>
        <button class="btn btn-sm btn-secondary" type="button" data-command="formatBlock"><i class="fa fa-quote-left"></i></button>
    </div>
</div>