{% load static_version %}

<script src="{% static_version 'core/js/rich_text.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker();
        $('#datetimepicker').on('change.datetimepicker', function(data) {
            if (data.date) {
                $('a[href="#collapseDate"] .text-nowrap').text(data.date.format('D MMM YYYY HH:mm'));
            }
        });
    });
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">