<li class="list-group-item px-0 d-flex justify-content-between align-items-center">
    <a href="{% url link idem.slug %}"><i class="fa fa-{{ icon }} fa-fw"></i> {{ name }}</a>
    <span class="badge badge-primary badge-pill">{{ count }}</span>
</li>