{% load post_tags %}

{% for post in posts %}
    {% post_listing post show_all=True %}
    <div class="options">
        {% if post.allow_likes %}
            <a href="{% url 'post:like' post.hash %}" class="post-like">
                {% if post.liked %}
                    <i class="fa fa-heart text-danger"></i>
                {% else %}
                    <i class="fa fa-heart-o text-danger"></i>
                {% endif %}
            </a>
        {% endif %}
        {% if post.count_comments %}
            <a href="{{ post.specific.url }}#commentThreads"><i class="fa fa-comment-o"></i></a>
        {% endif %}

        <div class="btn-group dropup">
            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-share-square-o"></i>
            </a>
            <div class="dropdown-menu post-share">
                <div class="post-share-embed">
                    <code>
                        &lt;div class="idem-embed" data-url="//alter-idem.com/embed/{{ post.hash }}"&gt;
                            &lt;a href="{{ post.specific.full_url }}"&gt;{{ post.specific.full_url }}&lt;/a&gt;
                        &lt;/div&gt;
                        &lt;script async src="//alter-idem.com/embed.js"&gt;&lt;/script&gt;
                    </code>
                </div>
                <div class="d-flex text-center">
                    <a href="{{ post.permanent_url }}" class="m-3"><i class="fa fa-link"></i><br>Permalink</a>
                    <a class="m-3"><i class="fa fa-code"></i><br>Embed</a>
                    <a class="m-3"><i class="fa fa-envelope-o"></i><br>E-mail</a>
                    <a class="m-3"><i class="fa fa-flag-o"></i><br>Report</a>
                    {% if post.allow_share %}
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ context.BASE_URL }}{{ post.permanent_url }}" class="m-3 post-share-window"><i class="fa fa-facebook"></i><br>Facebook</a>
                        <a target="_blank" href="https://twitter.com/intent/tweet?url={{ context.BASE_URL }}{{ post.permanent_url }}" class="m-3 post-share-window"><i class="fa fa-twitter"></i><br>Twitter</a>
                        <a target="_blank" href="https://www.tumblr.com/widgets/share/tool?shareSource=legacy&canonicalUrl={{ context.BASE_URL }}{{ post.permanent_url }}&url={{ post.specific.full_url }}&title={{ post.title }}&caption={{ post.description }}" class="m-3 post-share-window"><i class="fa fa-tumblr"></i><br>Tumblr</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if context.request.user.idem %}
        <a href="{{ post.specific.url }}#commentThreads" title="Block idem"><i class="fa fa-ban"></i></a>
        {% endif %}
    </div>

{% endfor %}