{% for tag in tags %}
    {% if idem %}
        <a href="{{ idem.full_url }}/{{ tag.slug }}">#{{ tag.name }}</a>
    {% else %}
        <a href="/{{ tag.slug }}">#{{ tag.name }}</a>
    {% endif %}
{% endfor %}