{% extends 'idem/idem.html' %}

{% block content %}
    <ul class="list-inline row">
        <li class="list-inline-item col">
            <a href="{% url 'idem:gallery:create' idem.slug %}"><i class="fa fa-image fa-4x fa-fw" title="Gallery"></i></a>
        </li>
        <li class="list-inline-item col">
            <a href="{% url 'idem:blog:create' idem.slug %}"><i class="fa fa-align-justify fa-4x fa-fw" title="Blog"></i></a>
        </li>
        <li class="list-inline-item col">
            <a href=""><i class="fa fa-volume-up fa-4x fa-fw" title="Audio"></i></a>
        </li>
        <li class="list-inline-item col">
            <a href=""><i class="fa fa-link fa-4x fa-fw" title="Share"></i></a>
        </li>
        <li class="list-inline-item col">
            <a href="{% url 'idem:story:create' idem.slug %}"><i class="fa fa-book fa-4x fa-fw" title="Story"></i></a>
        </li>
        <li class="list-inline-item col">
            <a href="{% url 'idem:video:create' idem.slug %}"><i class="fa fa-video-camera fa-4x fa-fw" title="Video"></i></a>
        </li>
        <li class="list-inline-item col">
            <a href="{% url 'idem:collection:create' idem.slug %}"><i class="fa fa-cubes fa-4x fa-fw" title="Collection"></i></a>
        </li>
    </ul>
{% endblock %}