{% extends 'idem/base.html' %}
{% load static bootstrap4 post_tags core_tags %}

{% block javascript_body %}
    {{ block.super }}
    {% post_libs %}
    {% if idem.icon %}
    <script>
        $('#id_icon').hide();
        $('#dropdownIconList img').click(function(e){
            $('#icon-preview').attr('src', $(this).attr('src'));
            $('#id_icon').val($(this).attr('data-id')*1);
        });
    </script>
    {% endif %}
{% endblock %}


{% block content %}
    {% include 'post/_editor_options.html' %}
    {% block post_form_tag %}
    <form method="post">
    {% endblock %}
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <div class="row">
            <div class="col-md-8">
                {% block post_form %}{% endblock %}
            </div>
            <div class="col-md-4">
                {% block post_options %}
                {% if idem.icon %}
                    <div class="dropdown">
                        <a href="#" role="button" class="btn dropdown-toggle" id="dropdownIconButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% block post_icon %}<img src="{{ idem.icon.image.url }}" id="icon-preview">{% endblock %}
                        </a>
                        <div class="dropdown-menu pt-4 px-4" aria-labelledby="dropdownIconButton">
                            <div class="row" id="dropdownIconList">
                                {% for icon in idem.icons.all %}
                                    <div class="col-md-4"><img src="{{ icon.image.url }}" data-id="{{ icon.id }}" class="img-fluid mb-4"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% bootstrap_field form.icon layout="inline" %}
                {% endif %}
                <a data-toggle="collapse" class="post-option d-flex" href="#collapseDate" role="button" aria-expanded="false" aria-controls="collapseDate">
                    <span class="w-100"><i class="fa fa-square-o"></i> Publish</span>
                    <span class="flex-shrink-1 text-nowrap">{% block post_publish %}{% endblock %}</span>
                </a>
                <div class="collapse" id="collapseDate">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                            <label class="sr-only" for="id_publish">Publish</label>
                            <input id="id_publish" type="text" name="publish" class="form-control datetimepicker-input" value="{% block post_publish_value %}{% endblock %}" data-target="#datetimepicker">
                            <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-toggle="collapse" class="post-option d-flex" href="#collapseAccess" role="button" aria-expanded="false" aria-controls="collapseAccess">
                    <span class="w-100"><i class="fa fa-square-o"></i> Access</span>
                    <span class="flex-shrink-1 text-nowrap"></span>
                </a>
                <div class="collapse" id="collapseAccess">
                    {% bootstrap_field form.access layout="inline" %}
                    {% password_show_hide form.password %}
                    <hr>
                    {% bootstrap_field form.rating layout="inline" %}
                    {% bootstrap_field form.age layout="horizontal" %}
                    <hr>
                    {% bootstrap_field form.warnings layout="inline" %}
                    {% bootstrap_field form.warnings_custom layout="inline" %}
                    <hr>
                    <div class="row">
                        <div class="col">{% bootstrap_field form.allow_search layout="inline" %}</div>
                        <div class="col">{% bootstrap_field form.allow_indexing layout="inline" %}</div>
                    </div>
                </div>

                {% if idem.can_x_post %}
                    <a data-toggle="collapse" class="post-option d-flex" href="#collapseCrossPost" role="button" aria-expanded="false" aria-controls="collapseCrossPost">
                        <span class="w-100"><i class="fa fa-square-o"></i> Cross-post</span>
                        <span class="flex-shrink-1 text-nowrap">
                            {% if idem.can_x_post_dw %}
                                <i class="fa fa-times" data-site="dw" title="No"></i> dreamwidth
                            {% endif %}
                            {% if idem.can_x_post_lj %}
                                <i class="fa fa-times" data-site="lj" title="No"></i> livejournal
                            {% endif %}
                            {% if idem.can_x_post_tumblr %}
                                <i class="fa fa-times" data-site="tumblr" title="No"></i> tumblr
                            {% endif %}
                        </span>
                    </a>
                    <div class="collapse" id="collapseCrossPost">
                        {% if idem.can_x_post_dw %}{% bootstrap_field form.x_post_dw layout="inline" %}{% endif %}
                        {% if idem.can_x_post_lj %}{% bootstrap_field form.x_post_lj layout="inline" %}{% endif %}
                        {% if idem.can_x_post_tumblr %}{% bootstrap_field form.x_post_tumblr layout="inline" %}{% endif %}
                    </div>
                {% endif %}

                <a data-toggle="collapse" class="post-option d-flex" href="#collapseSharing" role="button" aria-expanded="false" aria-controls="collapseSharing">
                    <span class="w-100"><i class="fa fa-square-o"></i> Responses</span>
                    <span class="flex-shrink-1 text-nowrap">
                        <i class="fa fa-times" title="No"></i> likes
                        <i class="fa fa-times" title="No"></i> sharing
                        <i class="fa fa-times" title="No"></i> comments
                    </span>
                </a>
                <div class="collapse" id="collapseSharing">
                    <div class="row">
                        <div class="col-5">{% bootstrap_field form.allow_likes layout="inline" %}</div>
                        <div class="col-7">{% bootstrap_field form.allow_share layout="inline" %}</div>
                    </div>
                    <h6>Allow comments</h6>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                          {{ form.allow_comments.0 }}
                        </div>
                        <div class="form-check form-check-inline">
                          {{ form.allow_comments.1 }}
                        </div>
                        <div class="form-check form-check-inline">
                          {{ form.allow_comments.2 }}
                        </div>
                    </div>
                </div>

                <a data-toggle="collapse" class="post-option d-flex" href="#collapseRelated" role="button" aria-expanded="false" aria-controls="collapseRelated">
                    <span class="w-100"><i class="fa fa-square-o"></i> Related</span>
                    <span class="flex-shrink-1 text-nowrap">
                        <i class="fa fa-times" title="No"></i> link backs
                        <i class="fa fa-times" title="No"></i> related post
                    </span>
                </a>
                <div class="collapse" id="collapseRelated">
                    {% bootstrap_field form.credit %}
                    {% bootstrap_field form.allow_credit layout="inline" %}
                </div>
                {% endblock %}
            </div>
        </div>
    </form>
{% endblock %}
