<hr>
<h4><a href="{{ post.url }}"><i class="fa fa-align-justify fa-fw"></i> {{ post.title }}</a></h4>
{% if show_author %}
<h6><a href="{{ post.idem.full_url }}" rel="author">{{ post.idem }}</a></h6>
{% endif %}
<hr>
{% if not show_all %}
{{ post.text|safe }}
{% else %}
<p>{{ post.teaser|linebreaksbr }}</p>
{% endif %}
