{% extends 'post/form.html' %}
{% load static bootstrap4 post_tags core_tags %}

{% block post_form_tag %}
    {% if blog.id %}
        <form method="post" action="{% url 'idem:blog:update' idem.slug blog.publish.year blog.publish.month blog.publish.day blog.slug %}" class="post-form" id="postForm">
    {% else %}
        <form method="post" action="{% url 'idem:blog:create' idem.slug %}" class="post-form" id="postForm">
    {% endif %}
{% endblock %}

{% block post_icon %}
    {% if blog.icon %}
        <img src="{{ blog.icon.image.url }}" id="icon-preview">
    {% else %}
        <img src="{{ idem.icon.image.url }}" id="icon-preview">
    {% endif %}
{% endblock %}

{% block post_form %}
    {% if blog.id %}
        <h1>Editing {{ blog.title }}</h1>
    {% else %}
        <h1>Posting to {{ idem }}</h1>
    {% endif %}
    {% bootstrap_field form.title layout="inline" %}
    {% bootstrap_field form.text layout="inline" %}
    {% bootstrap_field form.tags layout="inline" %}
    {% if blog.id %}
        <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane"></i> Edit</button>
    {% else %}
        <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane"></i> Post</button>
    {% endif %}
{% endblock %}

{% block post_publish %}{{ blog.publish|date:"d M Y H:i" }}{% endblock %}
{% block post_publish_value %}{{ blog.publish|date:"m/d/Y H:i" }}{% endblock %}