{% extends 'idem/idem.html' %}
{% load post_tags comment_tags %}

{% block title %}{{ blog.title }} | {{ idem }}{% endblock %}

{% block meta_robots %}
    {% robots blog.access blog.allow_search %}
{% endblock %}

{% block permalink %}
    <link rel="bookmark" href="{{ BASE_URL }}{{ blog.permanent_url }}">
    <link rel="canonical" href="{{ blog.full_url }}">
{% endblock %}

{% block main %}
    <h1>{{ blog.title }}</h1>
    <hr>
    {% if idem.user_id == user.id %}
        <div class="btn-group float-right" role="group" aria-label="Post settings">
            <a class="btn btn-secondary" title="Click to edit" href="{% url 'idem:blog:update' idem.slug blog.publish.year blog.publish.month blog.publish.day blog.slug %}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-warning" title="Click to confirm delete" href="{% url 'idem:blog:delete' idem.slug blog.publish.year blog.publish.month blog.publish.day blog.slug %}"><i class="fa fa-trash"></i></a>
        </div>
    {% endif %}
    <p>
        {{ blog.access_label }}
        <a href="{{ blog.permanent_url }}">Permalink</a>
        {% post_tags blog.tags.all idem=idem %}
    </p>
    {% if blog.credit %}
        <p>This blog entry is a response to <a href="{{ blog.credit.specific.full_url }}">{{ blog.credit.title }}</a> by <a href="{{ idem.full_url }}">{{ idem }}</a></p>
    {% endif %}
    <hr>
    {{ blog.text|safe }}
    <hr>
    {% if blog.allow_comments %}
        {% post_comments form comments idem=idem count_comments=blog.count_comments allow_comments=blog.allow_comments %}
    {% endif %}
{% endblock %}
