{% extends 'idem/base.html' %}
{% load static bootstrap4 post_tags %}

{% block main %}
<form method="post">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_field form.title layout="inline" %}
    {% bootstrap_field form.text layout="inline" %}

    <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Create</button>
</form>
{% endblock %}