{% extends 'idem/base.html' %}
{% load post_tags %}

{% block main %}
    <h1>{{ collection.title }}</h1>
    <hr>
    {{ collection.text|safe }}
    {% for post in collection.children.all %}
        <h1>{{ post.specific.title }}</h1>
    {% endfor %}
{% endblock %}