{% extends 'idem/idem.html' %}
{% load static bootstrap4 post_tags core_tags %}

{% block javascript_body %}
    {{ block.super }}
    {% post_libs %}
{% endblock %}

{% block main %}
    <form method="post" action="{% url 'idem:story:add' idem.slug story.slug %}" class="post-form" id="postForm">
        {% include 'post/_editor_options.html' %}
        <h1>Posting to {{ story.title }}</h1>
        {% bootstrap_field form.title layout="inline" %}
        {% bootstrap_field form.description layout="inline" %}
        {% bootstrap_field form.text layout="inline" %}

        <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Create</button>
    </form>
{% endblock %}