@charset "UTF-8";

.navbar-brand img {
    border: 2px solid #FFFFFF;
    height: 38px
}

#compliance-banner {
    background: #fff; padding-top: 15px;
    -webkit-box-shadow: 0 -4px 3px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0 -4px 3px rgba(50, 50, 50, 0.25);
    box-shadow: 0 -4px 3px rgba(50, 50, 50, 0.25);
}

#compliance-banner, #compliance-banner table {
    font-size: 12px
}

#compliance-banner #v-pills-tabContent {
    height: 120px;
    overflow: auto;
    margin-bottom: 15px
}

/* bootstrap */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.footer a {
    color: rgba(255,255,255,.5)
}

.footer a:hover {
    color: #fff
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}

.grecaptcha-badge {
    z-index: 3
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* tags */

    .tagsinput-bin {
        padding: 5px 0;
        position: relative
    }

    .tagsinput-bin .tag {
        margin: 4px;
        padding: 5px;
    }

    .ui-state-highlight {height: 20px}


/* posts */

    .post-form .col-md-4 .post-option {font-size: 14px; background: #f8f8f8; padding: 5px; text-decoration: none; margin: 15px 0}
    .post-form .col-md-4 .post-option > span:first-child {font-weight: 500; color: #0056b3}
    .post-form .col-md-4 .collapse {margin: 15px 0}


/* rich_text */

    .embed {
        height: 150px;
        resize: none;
        font-family: Monaco, "Courier New", Courier, monospace;
    }

    #editor {
        outline: none;
        min-height: 300px;
        border-top: 1px solid #ccc;
        padding: 10px 0
        }

    #editor:empty:before {
        content: attr(placeholder);
        display: block;
        color: #6c757d
    }

    #editor .idem-link {
        color: #c00000
        }

    #editor blockquote {
        border-left: 5px solid #ccc;
        padding-left: 10px
    }

    #editor_options {
        position: absolute;
        z-index: 1;
        background: #343A40;
        padding: 5px;
        border-radius: 5px
        }

    #postForm #id_title, #postForm #id_title:focus {
        border: 0;
        padding: 0;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 30px
        }

    .video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }

    .video object,
    .video embed,
    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .post-share a {
        font-size: 9px
    }

    .post-share i {
        font-size: 20px
    }