<hr>
<h4><a href="{{ post.url }}"><i class="fa fa-book fa-fw"></i> {{ post.title }}</a></h4>
<hr>
<p>{{ post.teaser|linebreaksbr }}</p>
<p>Words: {{ post.total_words }} /
    Chapters: {{ post.count_children }} /
    Comments: {{ post.total_comments }} /
    Likes: {{ post.total_likes }} /
    Bookmarks: {{ post.count_bookmarks }} /
    Annotations: {{ post.total_annotations }}
</p>