{% extends 'post/form.html' %}
{% load static bootstrap4 post_tags core_tags %}

{% block javascript_body %}
    {{ block.super }}
    <script>
        $('#id_link').on('blur', function(){
            $.ajax({
              url: "test.html",
              context: document.body
            }).done(function() {
              $( this ).addClass( "done" );
            });
        });
    </script>
{% endblock %}

{% block post_form_tag %}
    <form method="post" action="{% url 'idem:story:create' idem.slug %}" class="post-form" id="postForm">
{% endblock %}

{% block post_form %}
    <h1>Posting to {{ idem }}</h1>
    {% bootstrap_field form.title layout="inline" %}
    {% bootstrap_field form.description layout="inline" %}

    <ul class="nav nav-tabs" id="contentTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="text-tab" data-toggle="tab" href="#text" role="tab" aria-controls="text" aria-selected="true">Text</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="link-tab" data-toggle="tab" href="#link" role="tab" aria-controls="link" aria-selected="false">Link</a>
        </li>
    </ul>
    <div class="tab-content" id="contentPanels">
        <div class="tab-pane fade pt-3 show active" id="text" role="tabpanel" aria-labelledby="text-tab">
            {% bootstrap_field chapter_form.text layout="inline" %}
        </div>
        <div class="tab-pane fade pt-3" id="link" role="tabpanel" aria-labelledby="link-tab">
            <p>You can link anywhere, but if it's at the Ao3 or FF.net some of the details will be filled automagically.</p>
            {% bootstrap_field form.link layout="inline" %}
        </div>
    </div>

    {% bootstrap_field form.tags layout="inline" %}

    <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Create</button>

{% endblock %}