{% extends 'idem/base.html' %}

{% block content %}
    <form method="post" action="{% url 'idem:story:delete' idem.slug story.slug %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> I am really super sure I want this gone, go for it!</button>
    </form>
{% endblock %}
