{% extends 'post/form.html' %}
{% load static bootstrap4 post_tags core_tags %}

{% block post_form_tag %}
    <form method="post" action="{% url 'idem:story:update' idem.slug story.slug %}" class="post-form" id="postForm">
{% endblock %}

{% block post_icon %}
    {% if story.icon %}
        <img src="{{ story.icon.image.url }}" id="icon-preview">
    {% else %}
        <img src="{{ idem.icon.image.url }}" id="icon-preview">
    {% endif %}
{% endblock %}

{% block post_form %}
    <h1>Editing {{ story.title }}</h1>
    {% bootstrap_field form.title layout="inline" %}
    {% bootstrap_field form.description layout="inline" %}
    {% bootstrap_field form.link layout="inline" %}
    {% bootstrap_field form.tags layout="inline" %}
    <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane"></i> Edit</button>
{% endblock %}

{% block post_publish %}{{ story.publish|date:"d M Y H:i" }}{% endblock %}
{% block post_publish_value %}{{ story.publish|date:"m/d/Y H:i" }}{% endblock %}