{% extends 'idem/idem.html' %}
{% load post_tags %}

{% block title %}{{ story.title }} | {{ idem }}{% endblock %}

{% block meta_robots %}
        {% robots story.access story.allow_search %}
{% endblock %}

{% block main %}
    <h1>{{ story.title }}</h1>
    <hr>
    {{ story.description|linebreaksbr }}
    <hr>
    {% if idem.user_id == user.id %}
        <div class="btn-group float-right" role="group" aria-label="Post settings">
            <a class="btn btn-primary" title="Click to add chapter" href="{% url 'idem:story:add' idem.slug story.slug %}"><i class="fa fa-plus-square"></i></a>
            <a class="btn btn-secondary" title="Click to edit" href="{% url 'idem:story:update' idem.slug story.slug %}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-warning" title="Click to confirm delete" href="{% url 'idem:story:delete' idem.slug story.slug %}"><i class="fa fa-trash"></i></a>
        </div>
    {% endif %}
    <p>
        {{ story.access_label }}
    </p>
    {% if story.credit %}
        <p>This story is a response to <a href="{{ story.credit.specific.full_url }}">{{ story.credit.title }}</a> by <a href="{{ idem.full_url }}" rel="author">{{ idem }}</a></p>
    {% endif %}
    <hr>
    {% for chapter in story.children.all %}
        <h2>{{ chapter.title }}</h2>
        {{ chapter.text|safe }}
    {% endfor %}
{% endblock %}