{% extends "main/base.html" %}
{% load bootstrap4 %}

{% block content %}

{% if validlink %}

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post" action="{% url 'account:password_reset_confirm' view.kwargs.uidb64 view.kwargs.token %}">
    {% csrf_token %}
    {% bootstrap_form form layout="inline" %}
    <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Change password</button>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock %}
