{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% block title %}Profile | {{ block.super }}{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" action="{% url 'account:profile' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <fieldset>
                <legend>Log in</legend>
                {% bootstrap_field form.username layout="inline" %}
                <p class="text-right"><a href="{% url 'account:password' %}">Change password</a></p>
            </fieldset>
        </div>
        <div class="col">
            <fieldset>
                <legend>Account</legend>
                {% bootstrap_field form.display_name layout="inline" %}
                {% bootstrap_field form.email layout="inline" %}
            </fieldset>
        </div>
    </div>
    <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Save</button>
    <a href="{% url 'account:delete' %}" class="btn btn-warning float-right"><i class="fa fa-trash"></i> Delete</a>
</form>
{% endblock %}