{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block javascript_body %}
    {{ block.super }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            document.getElementById("registerForm").submit();
        }
    </script>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'account:register' %}" id="registerForm">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <fieldset>
                <legend>Log in</legend>
                {% bootstrap_field form.username layout="inline" %}
                <div class="row">
                    <div class="col">{% bootstrap_field form.password1 layout="inline" %}</div>
                    <div class="col">{% bootstrap_field form.password2 layout="inline" %}</div>
                </div>
                <div class="row">
                    <div class="col">{% bootstrap_field form.age %}</div>
                    <div class="col">{% bootstrap_field form.terms_of_use %}</div>
                </div>
            </fieldset>
        </div>
        <div class="col">
            <fieldset>
                <legend>Account</legend>
                {% bootstrap_field form.display_name layout="inline" %}
                {% bootstrap_field form.email layout="inline" %}
            </fieldset>
        </div>
    </div>
    <button class="btn btn-primary g-recaptcha" data-sitekey="6LeKCGkUAAAAALNco4zFSlPNf5lIVPcaKhEFq5Xq" data-callback='onSubmit' type="submit"><i class="fa fa-check"></i> Create Account</button>
</form>
{% endblock %}