<footer class="footer bg-dark">
    <div class="container">
        <a href="{% url 'main:privacy_policy' %}">Privacy policy</a>
        <a class="ml-4" href="{% url 'main:terms_of_use' %}">Terms of use</a>
        <a class="ml-4" href="{% url 'account:cookies' %}">Cookies</a>
    </div>
</footer>