{% with request.resolver_match.namespace as namespace %}
{% with request.resolver_match.url_name as name %}
<ul class="navbar-nav mr-2">
    {% if user.is_authenticated %}
        <li class="nav-item">
            <div class="btn-group my-1">
                {% if user.idem %}
                    <a class="btn btn-secondary d-flex align-items-center" href="{% url 'main:dashboard' %}"><i class="fa fa-home"></i></a>
                    <a class="btn btn-{% if user.count_new_messages and namespace != 'message' %}info{% else %}secondary{% endif %} d-flex align-items-center" href="{% url 'message:list' %}">
                        {% if user.count_new_messages and namespace != 'message' %}
                            <i class="fa fa-envelope"></i>
                        {% else %}
                            <i class="fa fa-envelope-o"></i>
                        {% endif %}
                    </a>
                    <a href="{% url 'idem:idem' user.idem.slug %}" class="btn btn-secondary">{{ user.idem }}</a>
                {% else %}
                    <a class="btn btn-secondary d-flex align-items-center" href="{% url 'idem:create' %}"><i class="fa fa-star"></i></a>
                    <a href="{% url 'account:profile' %}" class="btn btn-secondary">{{ user }}</a>
                {% endif %}
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    {% for idem in user.idems.all %}
                        <div class="dropdown-item d-flex align-items-center">
                            <a href="{% url 'idem:idem' idem.slug %}" class="flex-grow-1 w-100 mr-5">{{ idem }}</a>
                            {% if idem.id != user.idem.id %}
                            <a href="{% url 'idem:switch' idem.slug %}" class="ml-3 flex-shrink-1 btn btn-info" title="Default to {{ idem }}"><i class="fa fa-refresh"></i></a>
                            {% endif %}
                            <a href="{% url 'idem:post:create' idem.slug %}" class="ml-3 flex-shrink-1 btn btn-success" title="New post"><i class="fa fa-pencil"></i></a>
                            <a href="{% url 'idem:icons' idem.slug %}" class="ml-3 flex-shrink-1 btn btn-secondary" title="Icons"><i class="fa fa-picture-o"></i></a>
                            <a href="{% url 'idem:settings' idem.slug %}" class="ml-3 flex-shrink-1 btn btn-secondary" title="Settings"><i class="fa fa-cog"></i></a>
                        </div>
                        {% if forloop.last %}
                        <div class="dropdown-divider"></div>
                        {% endif %}
                    {% endfor %}
                    <a class="dropdown-item" href="{% url 'idem:create' %}"><i class="fa fa-star fa-fw"></i> Create new idem</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'account:profile' %}"><i class="fa fa-user fa-fw"></i> Account</a>
                    <a class="dropdown-item" href="{% url 'account:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Log out</a>
                </div>
            </div>
        </li>
    {% else %}
        <li class="nav-item dropdown">
            <a class="nav-link" id="dropdownLoginMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" href="{% url 'account:login' %}">Log in</a>
            <form action="{% url 'account:login' %}" method="post" class="dropdown-menu p-4" aria-labelledby="dropdownLoginMenu">
                <div class="form-group">
                    <label for="id_username" class="sr-only">Username</label>
                    <input type="text" name="username" class="form-control" id="id_username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="id_password" class="sr-only">Password</label>
                    <input type="password" name="password" class="form-control" id="id_password" placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" name="remember" class="form-check-input" id="id_remember">
                    <label class="form-check-label" for="id_remember">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary mt-3"><i class="fa fa-power-off"></i> Log in</button>
                {% csrf_token %}
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account:register' %}">Get started</a>
        </li>
    {% endif %}
</ul>
{% endwith %}
{% endwith %}