{% extends 'base.html' %}
{% load bootstrap4 static_version %}

{% block css %}
    <link rel="stylesheet" href="{% static_version 'main/css/site.css' %}">
{% endblock %}

{% block body %}
    {% block navigation %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'main:home' %}">Idem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSiteContent" aria-controls="navbarSiteContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSiteContent">
            {% with request.resolver_match.namespace as namespace %}
            {% with request.resolver_match.url_name as name %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if namespace == "main" and name == "about" %} active{% endif %}">
                    <a class="nav-link" href="{% url 'main:about' %}">About{% if namespace == "main" and name == "about" %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                <li class="nav-item{% if namespace == "main" and name == "support" %} active{% endif %}">
                    <a class="nav-link" href="{% url 'main:support' %}">Support{% if namespace == "main" and name == "support" %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
            </ul>
            {% endwith %}
            {% endwith %}
            {% include 'main/_navigation.html' %}
            <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'search:results' %}">
                {% csrf_token %}
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    {% endblock %}
    {% block container %}
    <div class="container my-5" role="main">
        {% if user.is_validating and not messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">Validate</h4>
                You shoooould have received one of those "yeah, it's me" e-mails at <strong>{{ user.email }}</strong> when you registered - give the link inside it a click and this will disappear.
                If you didn't, <a href="{% url 'account:resend_validate' %}" class="alert-link">click here to send the e-mail</a> again.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        {% endif %}
        {% bootstrap_messages %}
        {% block content %}
        <div class="row">
            <div class="col-md-9">{% block main %}{% endblock %}</div>
            <div class="col-md-3">{% block side %}{% endblock %}</div>
        </div>
        {% endblock %}
    </div>
    {% endblock %}
    {% block footer %}
    {% include 'main/_footer.html' %}
    {% endblock %}
{% endblock %}