{% extends 'idem/idem.html' %}
{% load bootstrap4 %}

{% block main %}
<h1>Message {{ idem }}</h1>
<form method="post" action="{% url 'idem:message:create' idem.slug %}">
    {% csrf_token %}
    {% bootstrap_form form layout="inline" %}
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Send</button>
</form>
{% endblock %}