{% extends 'main/base.html' %}
{% load humanize core_tags %}

{% block main %}
    <h1>Inbox</h1>
    {% for message in message_list %}
        <div class="pt-3 pl-3 pr-3{% if message.is_unread %} bg-info text-white{% endif %}">
            <div class="row">
                <div class="col-md-2">{% icon idem=message.from_idem %}</div>
                <div class="col-md-10">
                    <h6>
                        {% link_to user=message.from_user idem=message.from_idem %} to {% link_to idem=message.to_idem %}
                        <span title="{{ message.created|date:"jS M Y, g:iA" }}" class="date-flip">{{ message.created|naturaltime }}</span>:
                    </h6>
                    <p>{{ message.text|linebreaksbr }}</p>
                    <p><a href="{% url 'message:delete' message.pk %}" class="btn btn-danger"><i class="fa fa-trash"></i></a></p>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No messages in your inbox, watch this space</p>
    {% endfor %}
{% endblock %}