{% extends 'base.html' %}
{% load bootstrap4 static_version core_tags %}

{% block title %}{{ idem }}{% endblock %}

{% if not idem.access %}
    {% block meta_robots %}
        <meta name="robots" content="noindex,nofollow">
    {% endblock %}
{% endif %}

{% block css %}
    <link rel="stylesheet" href="{% static_version 'idem/css/idem.css' %}">
{% endblock %}

{% block body %}
    {% block navigation %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'idem:idem' idem.slug %}">
            {% icon idem %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSiteContent" aria-controls="navbarSiteContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSiteContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:home' %}">Idem</a>
                </li>
            </ul>
            {% include 'main/_navigation.html' %}
            <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'idem:search:results' idem.slug %}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    {% endblock %}
    {% block container %}
    <div class="container my-5">
        {% bootstrap_messages %}
        {% block content %}
            <div class="row">
                <div class="col-md-9">{% block main %}{% endblock %}</div>
                <div class="col-md-3">{% block side %}{% endblock %}</div>
            </div>
        {% endblock %}
    </div>
    {% endblock %}
    {% block footer %}
    {% include 'main/_footer.html' %}
    {% endblock %}
{% endblock %}