{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h1>Create new idem</h1>
    {% bootstrap_form form layout="horizontal" %}
    <button class="btn btn-primary" type="submit"><i class="fa fa-power-off"></i> Create</button>
</form>
{% endblock %}