{% extends 'idem/idem.html' %}

{% block main %}
    <form method="post" action="{% url 'idem:delete' idem.slug %}">
        {% csrf_token %}
        <p>There's no cool-off period; there's no restore. If you hit delete, this idem and absolutely everything associated with it (except comments and ratings and whatnot) is gone poof <em>forever</em>.</p>
        <p>Cool?</p>
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Cool, I am really super sure I want this gone!</button>
    </form>
{% endblock %}
