{% extends 'idem/base.html' %}
{% load bootstrap4 core_tags %}

{% block css %}
    {{ block.super }}
    <style>
        .current-icon .bootstrap4-multi-input {display: none}
        .current-icon .form-group:nth-last-of-type(2) {width: 50%; float: left}
        .new-icon .form-group.delete {display: none}

    </style>
{% endblock %}

{% block javascript_body %}
<script>
    {{ block.super }}
    $('.current-icon input[name$="is_default"]').on('click',
        function() {
            $('.current-icon input[name$="is_default"]').not($(this)).prop('checked', false);
        }
    );
</script>
{% endblock %}

{% block content %}
<h1><i class="fa fa-picture-o"></i> {{ idem }} icons</h1>
{% bootstrap_formset_errors form %}

<form method="post" enctype="multipart/form-data" action="{% url 'idem:icons' idem.slug %}" class="mt-4">
    {% csrf_token %}
    {{ form.management_form }}
    <div class="row">
        <div class="col-md-4">
            {% for f in form %}
                {% if forloop.last %}
                    <div class="new-icon card">
                        <div class="card-body pb-0">
                            {% bootstrap_form_errors f %}
                            {% bootstrap_field f.image layout="inline" %}
                            {% bootstrap_field f.title layout="inline" %}
                            {% bootstrap_field f.description layout="inline" %}
                            {% bootstrap_field f.note layout="inline" %}
                            {% bootstrap_field f.is_default layout="inline" %}
                            <input name="form-{{ forloop.counter0 }}-id" id="id_form-{{ forloop.counter0 }}-id" type="hidden">
                            <div class="form-group delete"><div class="checkbox"><label for="id_form-{{ forloop.counter0 }}-DELETE"><input name="form-{{ forloop.counter0 }}-DELETE" id="id_form-{{ forloop.counter0 }}-DELETE" type="checkbox"> Delete</label></div></div>
                        </div>
                    </div>
                    <p class='text-center mt-3'><button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Update icons</button></p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-8">
            <div class="row">
                {% for f in form %}
                    {% if not forloop.last %}
                    <div class="col-md-6">
                        <div class="current-icon">
                            <div class="text-center"><img src="/media/{{ f.instance.image }}"></div>
                            <hr>
                            {% bootstrap_form f layout="inline" %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</form>
{% endblock %}