{% extends 'idem/base.html' %}
{% load post_tags core_tags idem_tags %}

{% block meta_robots %}
    {% if not idem.access %}
        <meta name='robots' content='noindex,nofollow,noarchive,nosnippet,noodp,noydir'>
    {% else %}
        <meta name="robots" content="index,follow,noodp,noydir">
    {% endif %}
{% endblock %}

{% block meta_description %}
    <meta name="description" content="{{ idem.about }}">
{% endblock %}

{% block main %}
    {% if posts %}
        {% post_listings posts show_all=True %}
    {% else %}
        {% if idem.user == user %}
            <p>You haven't posted anything yet, <a href="{% url 'idem:post:create' idem.slug %}">click here to go do that</a>.</p>
        {% else %}
            <p>There are no posts you can see here, sorry!</p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block side %}
    <p class="text-center">{% icon idem %}</p>

     <h3><a href="{{ idem.full_url }}">{{ idem.title }}</a></h3>
    {% if idem.pronoun %}
        <p>{{ idem.pronoun }}</p>
    {% endif %}
    {% if idem.about %}
        <p>{{ idem.about|linebreaksbr }}</p>
    {% endif %}
    <p>
        <a href="{% url 'idem:message:create' idem.slug %}"><i class="fa fa-envelope-o"></i></a>
        {% if user.idem and user.idem.id != idem.id %}
            {% is_following user idem as following %}
            {% if following %}
                <a class="ml-3" href="{% url 'idem:unfollow' idem.slug %}">Unfollow</a>
            {% else %}
                <a class="ml-3" href="{% url 'idem:follow' idem.slug %}">Follow</a>
            {% endif %}
        {% endif %}
    </p>
    <ul class="list-group list-group-flush">
        {% if idem.count_collection %}
            {% list_breakdown idem=idem link='idem:collection:list' name='Collections' count=idem.count_collection icon="cubes" %}
        {% endif %}
        {% if idem.count_blog %}
            {% list_breakdown idem=idem link='idem:blog:list' name='Blog' count=idem.count_blog icon="align-justify" %}
        {% endif %}
        {% if idem.count_story %}
            {% list_breakdown idem=idem link='idem:story:list' name='Stories' count=idem.count_story icon="book" %}
        {% endif %}
        {% if idem.count_video %}
            {% list_breakdown idem=idem link='idem:video:list' name='Videos' count=idem.count_video icon="video-camera" %}
        {% endif %}
    </ul>
    {% if idem.count_following %}
        <h3>Following</h3>
        <div class="row">
            {% for following in idem.following.all %}
                <div class="col"><a href="{% url 'idem:idem' following.slug %}">{{ following }}</a></div>
            {% endfor %}
        </div>
    {% endif %}
    {% if idem.count_followers %}
        <h3>Followers</h3>
        <div class="row">
            {% for follower in idem.followers.all %}
                <div class="col"><a href="{% url 'idem:idem' follower.from_idem.slug %}">{{ follower.from_idem }}</a></div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}