{% extends 'idem/base.html' %}
{% load core_tags %}

{% block main %}
    <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        <fieldset>
            <legend>This idem is password protected</legend>
            <div class="input-group mb-3">
                <input type="text" name="password" id="id_password" class="form-control" placeholder="Password" aria-label="Password">
                <div class="input-group-append">
                    <button class="btn btn-success" name="submit_password" type="submit"><i class="fa fa-unlock"></i></button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}