{% extends 'idem/base.html' %}
{% load bootstrap4 core_tags %}

{% block content %}
<h1><i class="fa fa-cog"></i> Settings</h1>
        {% bootstrap_form_errors form %}

<form method="post" action="{% url 'idem:settings' idem.slug %}" class="row mt-4">
    {% csrf_token %}
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-idem-tab" data-toggle="pill" href="#v-pills-idem" role="tab" aria-controls="v-pills-idem" aria-selected="true">Idem</a>
            <a class="nav-link" id="v-pills-access-tab" data-toggle="pill" href="#v-pills-access" role="tab" aria-controls="v-pills-access" aria-selected="false">Access</a>
            <a class="nav-link" id="v-pills-defaults-tab" data-toggle="pill" href="#v-pills-defaults" role="tab" aria-controls="v-pills-defaults" aria-selected="false">Defaults</a>
            <a class="nav-link" id="v-pills-sharing-tab" data-toggle="pill" href="#v-pills-sharing" role="tab" aria-controls="v-pills-sharing" aria-selected="false">Sharing</a>
            <a class="nav-link" id="v-pills-flagged-content-tab" data-toggle="pill" href="#v-pills-flagged-content" role="tab" aria-controls="v-pills-flagged-content" aria-selected="false">Flagged content</a>
            <a class="nav-link" id="v-pills-blocked-idems-tab" data-toggle="pill" href="#v-pills-blocked-idems" role="tab" aria-controls="v-pills-blocked-idems" aria-selected="false">Blocked idems</a>
            <a class="nav-link" id="v-pills-blocked-users-tab" data-toggle="pill" href="#v-pills-blocked-users" role="tab" aria-controls="v-pills-blocked-users" aria-selected="false">Blocked users</a>
        </div>
        <hr>
        <p class="text-center">
            <button class="btn btn-secondary" type="submit"><i class="fa fa-check"></i> Update</button>
            <a href="{% url 'idem:delete' idem.slug %}" class="btn btn-warning"><i class="fa fa-trash"></i> Delete</a>
        </p>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-idem" role="tabpanel" aria-labelledby="v-pills-idem-tab">
                <fieldset>
                    <legend>Idem</legend>
                    {% bootstrap_field form.title layout="horizontal" %}
                    {% bootstrap_field form.slug layout="horizontal" %}
                    {% bootstrap_field form.pronoun layout="horizontal" %}
                    {% bootstrap_field form.about layout="inline" %}
                </fieldset>
            </div>
            <div class="tab-pane fade" id="v-pills-access" role="tabpanel" aria-labelledby="v-pills-access-tab">
                <fieldset>
                    <legend>Access</legend>
                    {% bootstrap_field form.access layout="inline" %}
                    {% password_show_hide form.password %}
                </fieldset>

                <hr>

                <h5>Private</h5>
                <p>No one but you can see your idem - no one but you can even hit the landing page! You won't show up in site searches, or on the Google.</p>

                <h5>Password protected</h5>
                <p>No one can see the posts in your idem, unless they have the password you've given them. <strong>This shouldn't be the password for your log in!</strong> Your posts still won't show on their dashboard, though, and you won't appear in site searches or on the Google.</p>

                <h5>Filtered</h5>
                <p>Only specific idems can see your idem exists, you'll show up in searches for those in the filter, but you won't appear on Google.</p>

                <h5>Followers</h5>
                <p>Only specific idems who are following you (and you haven't blocked) can see your idem exists, you'll show up in searches for those in the filter, but you won't appear on Google.</p>

                <h5>Public</h5>
                <p>Everyone can see you - this doesn't mean you can't change the access levels on individual posts, just that you're there for people to find. Site searches will find you, and Google may as well.</p>

                <hr>

                <h5 class="text-info">HOWEVER</h5>
                <p>This site is not at home to illegal shit, and there are bots botting their merry way around, and they don't care about your access settings. If one of those flags up an issue, it goes to a mod. Mods also don't care about your access settings.</p>
                <p>So, basically, be cool with the keeping to the Terms and Conditions and everything will be groovy.</p>

            </div>
            <div class="tab-pane fade" id="v-pills-defaults" role="tabpanel" aria-labelledby="v-pills-defaults-tab">
                <p>These are the default settings for your posts. All of them can be over-ridden on individual posts and updating here will not affect the settings on posts you've already made.</p>
                <fieldset>
                    <legend>Content</legend>
                    {% bootstrap_field form.default_rating layout="horizontal" %}
                    {% bootstrap_field form.default_warnings layout="horizontal" %}
                    {% bootstrap_field form.default_warnings_custom layout="horizontal" %}
                    {% bootstrap_field form.default_age layout="horizontal" %}
                </fieldset>
                <fieldset class="password-switch">
                    <legend>Access</legend>
                    {% bootstrap_field form.default_access layout="inline" %}
                    {% password_show_hide form.default_password %}
                </fieldset>
                <fieldset>
                    <legend>Comments</legend>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                          {{ form.default_allow_comments.0 }}
                        </div>
                        <div class="form-check form-check-inline">
                          {{ form.default_allow_comments.1 }}
                        </div>
                        <div class="form-check form-check-inline">
                          {{ form.default_allow_comments.2 }}
                        </div>
                        <small class="form-text text-muted">There's no moderation right now, so be... cautious.</small>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Interactivity</legend>
                    <div class="row">
                        <div class="col-4">{% bootstrap_field form.default_allow_annotate layout="inline" %}</div>
                        <div class="col-4">{% bootstrap_field form.default_allow_credit layout="inline" %}</div>
                        <div class="col-4">{% bootstrap_field form.default_allow_indexing layout="inline" %}</div>
                        <div class="col-4">{% bootstrap_field form.default_allow_likes layout="inline" %}</div>
                        <div class="col-4">{% bootstrap_field form.default_allow_search layout="inline" %}</div>
                        <div class="col-4">{% bootstrap_field form.default_allow_share layout="inline" %}</div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Sharing</legend>
                    <div class="row">
                        <div class="col">{% bootstrap_field form.default_x_post_dw layout="inline" %}</div>
                        <div class="col">{% bootstrap_field form.default_x_post_lj layout="inline" %}</div>
                        <div class="col">{% bootstrap_field form.default_x_post_tumblr layout="inline" %}</div>
                    </div>
                    <small class="form-text text-muted">Cross-posting will only happen if you've given the account info in the Sharing settings.</small>
                </fieldset>
            </div>
            <div class="tab-pane fade" id="v-pills-sharing" role="tabpanel" aria-labelledby="v-pills-sharing-tab">
                <fieldset>
                    <legend>Sharing</legend>
                    <p>By using this functionality, you agree you are doing so at your own risk: Idem is not liable for any account details ending up in the hands of over-excited hackers.</p>
                    <h6>Dreamwidth</h6>
                    <div class="row">
                        <div class="col">{% bootstrap_field form.dw_username layout="inline" %}</div>
                        <div class="col">{% password_show_hide form.dw_password %}</div>
                    </div>
                    <h6>Livejournal</h6>
                    <div class="row">
                        <div class="col">{% bootstrap_field form.lj_username layout="inline" %}</div>
                        <div class="col">{% password_show_hide form.lj_password %}</div>
                    </div>
                </fieldset>
                <hr>
                <p>Click below if you have a strange and terrible urge to enable cross-posting to social media - this will take you off-site, so save any changes first!</p>
                <p class="text-center">
                    <a href="#" class="btn btn-primary"><i class="fa fa-tumblr fa-fw"></i></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-twitter fa-fw"></i></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-facebook fa-fw"></i></a>
                </p>
            </div>
            <div class="tab-pane fade" id="v-pills-flagged-content" role="tabpanel" aria-labelledby="v-pills-flagged-content-tab">
                <p class="alert alert-info">Flagged posts aren't hidden, but they display with an overview of which flags have been raised
                    so you can decided whether or not to click.</p>
                <div class="row">
                    <div class="col-md-8">
                        <p>These settings are applied automatically to warnings/ratings/age-rating/tags added by the original poster,
                            but can also be applied to those suggested by other users by adjusting your threshold %.</p>
                        <p class="text-muted">e.g., with a threshold of 20, if 20% of users who've seen a post have suggested it should have an 'adult' rating,
                            and you have 'adult' ratings flagged, the post will display for you as if the original poster given it an adult rating.</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Threshold %</h5>
                        {% bootstrap_field form.user_flag_threshold %}
                        <small class="form-text text-muted">Leave blank to ignore user-recommended meta info.</small>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Maximum age</h5>
                        {% bootstrap_field form.flag_age %}
                        <h5>Ratings</h5>
                        {% bootstrap_field form.flag_ratings %}
                        <h5>Warnings</h5>
                        {% bootstrap_field form.flag_warnings %}
                    </div>
                    <div class="col-md-8">
                        <h5>Tags</h5>
                        <p>These have to be specific - there's no fuzzy matching at the moment. It's on the list.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-blocked-idems" role="tabpanel" aria-labelledby="v-pills-blocked-idems-tab">
                <fieldset>
                    <legend>Blocked idems</legend>
                    <p>Posts from any of these won't be removed, but they will have the contents hidden and a warning in
                    their place of who it's by and what's inside, so you can decided whether or not to click them.</p>
                </fieldset>
            </div>
            <div class="tab-pane fade" id="v-pills-blocked-users" role="tabpanel" aria-labelledby="v-pills-blocked-users-tab">
                <fieldset>
                    <legend>Blocked users</legend>
                    <p>There's a limited amount that can be done to completely block a user, and a whole lot of ways to get around those blocks.
                        If in doubt, your best bet is to limit people who can view and comment on your idem(s) to those you choose.</p>
                    <p>That said, you can give it a shot below.</p>
                    <p>The users you've blocked don't have a special message telling them that, they just get the default
                    "Yeah, no, this isn't a thing you can see."</p>
                </fieldset>
            </div>
        </div>
    </div>
</form>
{% endblock %}